@import "tailwindcss";

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype"); /* Add format */
  font-weight: 400;
  font-style: normal;
}